<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Contact phone no:</strong>
  <%= @profile.contact_phone_no %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @profile.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact phone no:</strong>
  <%= @profile.emergency_contact_phone_no %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
